{% extends 'store/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>checkout | MarginTop Solutions</title>
    </head>
    <body>

        {% block content %}
       
          
        
            <div style="margin-top:90px; color:rebeccapurple;">
            </h4>
            <h3>
                <p>items:
                    {{order.get_cart_items}}
                </p>
                <p>price:
                    {{order.get_cart_total|floatformat:2}}
                </p>
            </h3>
                {% for item in items %}
                <h4>
<img src="{{item.product.imageURL }}" alt="">
                    <p>{{item.product.name}}</p>
                    <p>{{item.product.price}}</p>
                    <p>{{item.quantity}}</p>


                <hr>
                {% endfor %}

            </div>
            {% endblock content %}
        </body>
    </body>
</html>
